<div id= "mainmessage">
LOGIN WITH YOUR TWITTER TO SEE YOUR PERSONAL TWEET CLOUD
</div>
 
      

<%if user_signed_in? %>
<div class="center">
  <div class="btn btn-default">
  <%=link_to "tweet cloud", tweets_path%>
  </div>
</div>
<%end%>