<div id="mainmessage">
<span id="mainmessage2">Tweet Cloud</span><i class="fa fa-cloud"></i><br>
<%if user_signed_in? %>
Connected as: &nbsp;@<%=current_user.first_name%> <%=link_to "View Tweet Cloud", tweets_path%>
<%else%>
<%=link_to "Connect Twitter", user_omniauth_authorize_path(provider: :twitter),{class: "linkhover"}%> 
<%end%>
</div>
 

            


 