<p id="tweetheading">your twitter home feed recent tweets</p>
<p>word cloud based on:  |your home feed|<%=link_to "your most recent tweets", tweets_path%></p><hr>

<%=render partial: 'tweets', locals: {array: @modified_homepage_array}%>


