<p id="tweetheading">your most recent tweets</p>
<p>word cloud based on:  |your most recent tweets|<%=link_to "your home feed", tweets_path(homefeed: true)%></p><hr>

<%=render partial: 'tweets', locals: {array: @modified_user_array}%>