body{
  font-family: 'Noto Sans', sans-serif;
    background:#3cf;

  }

.ideatitle{
  font-weight: bold;
}

.userinfo{
  text-indent: 50px;
}

#scootright{
  float: right;
}

.btn{
  float:right;
  margin-right:10px;
  margin-bottom:10px;
}



#imagemod{
  height:105px;
  width:115px;
}

#largekeys{
  font-size:120px;
  color:gray;
}

#keys5{
  font-size:100px;
  color:gray;
}

#keys4{
  font-size:80px;
  color:gray;
}
#keys3{
font-size:60px;
color:gray;
}

#keys2{
font-size:40px;
color:gray;
}

#keys1{
  font-size:10px;
  color:white;
}

#mainmessage{
  color:white;
  font-size: 30px;
  text-align: center;
  width:300px;
  height:50px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -25px;
  margin-left: -150px;
}

.center{
  text-align: center;
}

.tweetwords{
  text-align: justify;
  border:1px solid white;
}

.sidenav{
    border: 1px solid white;

}

#tweetheading{
font-size: 50px;
color:white;
}


.navbar{
  border-radius: 0px;
}


.imagepos{
  padding-top: 2px;
}



#hashtag{
  color:gray;
  font-size: 40px
}

#tweettouser{
  color:gray;
  font-size:30px;
}

