body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  }

.ideatitle{
  font-weight: bold;
}

.userinfo{
  text-indent: 50px;
}

#scootover{
  float:right;
}

.btn{
  float:right;
  margin-right:10px;
  margin-bottom:10px;
}

#signinsignout{
  padding-top:10px;
  padding-right:10px;

}

.navbar{
  padding-bottom: 10px;
}

#imagemod{
  height:105px;
  width:115px;
}


#bigkeys{
  font-size:100px;
  color:gray;
}

#smallkeys{
  font-size:20px;
}
#keys{
font-size:60px;
color:red;
}

#keys2{
  font-size:40px;
  color:blue;
}

