.ideatitle{
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.ideabody{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.userinfo{
  text-indent: 50px;
}

#scootover{
  float:right;
}

.btn{
  float:right;
  margin-right:10px;
  margin-bottom:10px;
}

#signinsignout{
  padding-top:10px;
  padding-right:10px;

}

.navbar{
  padding-bottom: 10px;
}

#imagemod{
  height:105px;
  width:115px;
}
